@import '@fontsource-variable/inter';
@import '@fontsource-variable/rubik';
@import "tailwindcss";

@theme {
  --font-sans: Inter, system-ui, sans-serif;
  --font-rubik: Rubik, system-ui, sans-serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px; 
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0,29,87,0.45); 
    border-radius: 4px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0,29,87,0.45); 
    border-radius: 16px;
  }

  
/* Firefox scrollbar styles */
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,29,87,0.45) rgba(0,29,87,0.45); 
}
